{:lint-as {hyperfiddle.electric/def       clojure.core/def
           hyperfiddle.electric/defn      clojure.core/defn
           hyperfiddle.electric-de/defn   clojure.core/defn
           hyperfiddle.electric-de/fn     clojure.core/fn
           hyperfiddle.electric-de/cursor clojure.core/let
           hyperfiddle.electric/for       clojure.core/for
           hyperfiddle.electric/fn        clojure.core/fn}
 ;; For nvim linting and lsp
 :cljc {:features #{:cljs}}
 :linters {:redundant-expression          {:level :off}
           :var-same-name-except-case     {:level :off}
           :clojure-lsp/unused-public-var {:level :off}}}
